<table class="table">
  <thead>
    <tr>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for(item of productList; track $index) {
    <tr>
      <td>
        <strong>{{item.name}}</strong>
        @if (item.products.length > 0) {
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            @for (p of item.products; track $index) {
            <tr>
              <td>{{p.productID}}</td>
              <td>{{p.name}}</td>
              <td>{{p.listPrice}}</td>
            </tr>
            }
          </tbody>
        </table>
        }
      </td>
      <td>
        <a [routerLink]="['/addProduct','edit',item.productCategoryID]">Edit</a> |
        <button (click)="deleteItem(item)">Delete</button>
      </td>
    </tr>
    }
  </tbody>
</table>