<div class="container">
  <div class="row">
    <fieldset>
      <legend>Add New Product</legend>
      <div class="row mt-3">
        <div class="col-3"> <label>Name</label> <input [(ngModel)]="productObj.name" type="text" name="name"
            class="form-control"> </div>
        <div class="col-3"> <label>Product Number</label> <input [(ngModel)]="productObj.productNumber" type="text"
            name="productNumber" class="form-control"> </div>
        <div class="col-3"> <label>Color</label> <input [(ngModel)]="productObj.color" type="text" name="color"
            class="form-control"> </div>
        <div class="col-3"> <label>Size</label> <input [(ngModel)]="productObj.size" type="number" name="size"
            class="form-control"> </div>
      </div>
      <div class="row mt-3">
        <div class="col-3"> <label>Standard Cost</label> <input [(ngModel)]="productObj.standardCost" type="number"
            name="standardCost" class="form-control"> </div>
        <div class="col-3"> <label>List Price</label> <input [(ngModel)]="productObj.listPrice" type="number"
            name="listPrice" class="form-control"> </div>
        <div class="col-3"> <label>Weight</label> <input [(ngModel)]="productObj.weight" type="number" name="weight"
            class="form-control"> </div>
        <div class="col-3"> <label></label> <button (click)="addProduct()" type="button"
            class="btn btn-primary mt-4">Add Prodyct</button> </div>
      </div>
    </fieldset>
    <div *ngIf="productList.length>0">
      <fieldset>
        <legend>Product List</legend>
        <div class="row mt-3">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Product Nunber</th>
                <th>Color</th>
                <th>Standard Cost</th>
                <th>List Price</th>
                <th>Size</th>
                <th>Weight</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of productList">
                <td>{{item.name}}</td>
                <td>{{item.productNumber}}</td>
                <td>{{item.color}}</td>
                <td>{{item.standardCost}}</td>
                <td>{{item.listPrice}}</td>
                <td>{{item.size}}</td>
                <td>{{item.weight}}</td>
                <td><button (click)="deleteProduct(item,productList)" class="btn btn-danger btn-sm">Delete</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </fieldset>
    </div>
    <fieldset>
      <legend>Product Category</legend>
      <div class="row mt-3">
        <div class="col-9"> <label>Category Name</label> <input [(ngModel)]="productCategory.name" type="text"
            name="name" class="form-control"> </div>
        <div class="col-3"> <label></label> <button (click)="updateProductCategory()" type="button"
            class="btn btn-primary mt-4">Add Product Category</button> </div>
      </div>
    </fieldset>
  </div>
</div>